/* DIVERS */
.padding{
    padding:10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.center{
    text-align: center;
}

.bottom{
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom:0;
}

.maj{
    text-transform: uppercase;
}    

.bold{
    font-weight: 700;
}

/*** TAILLE FONT ***/
.t0533 { font-size: 0.533em; } /* 6px */
.t0600 { font-size: 0.600em; } /* 7px */
.t0750 { font-size: 0.750em; } /* 9px */
.t0833 { font-size: 0.833em; } /* 10px */
.t0966 { font-size: 0.966em; } /* 11px */
.t1000 { font-size: 1em;  } /* 12px */
.t1083 { font-size: 1.083em; } /* 13px */
.t1167 { font-size: 1.167em; } /* 14px */
.t1250 { font-size: 1.250em; } /* 15px */
.t1333 { font-size: 1.333em; } /* 16px */
.t1417 { font-size: 1.417em; } /* 17px */
.t1500 { font-size: 1.500em; } /* 18px */
.t1583 { font-size: 1.583em; } /* 19px */
.t1667 { font-size: 1.667em; } /* 20px */
.t1750 { font-size: 1.750em; } /* 21px */
.t1833 { font-size: 1.833em; } /* 22px */
.t1875 { font-size: 1.875em; } /* 23px */
.t2000 { font-size: 2.000em; } /* 24px */
.t2500 { font-size: 2.500em; } /* 30px */

/*** ESPACEMENTS HORIZONTAUX ***/
[class*="clear"] {
    clear: both;
}

.clear2 { height: 2px; }
.clear5 { height: 5px; }
.clear10 { height: 10px; }
.clear15 { height: 15px; }
.clear20 { height: 20px; }
.clear25 { height: 25px; }
.clear30 { height: 30px; }
.clear40 { height: 40px; }
.clear50 { height: 50px; }
.clear80 { height: 80px; }
.clear100 { height: 100px; }
.clear200 { height: 200px; }

/* COLORS */
.green{
    color: #054752!important;
}

.blue_sky{
    color: #00AFF5;
}

.backgroundGrey{
    -webkit-appearance: none;
    border:0;
    border-radius: 16px;
    background-color: #EDEDED;
    color: #054752;
    flex: 1;
    padding: 16px;
    margin-right: 48px;
    width:100%
}

/* MAIN */
html{
    background-color: #EDEDED;
}

body{
    background-color: #EDEDED;
    font-family: gt-eesti,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
    color: #00AFF5;
}

a:hover{
    color: #08c;
    text-decoration: none;
}

.page{
    background-color: white;
    width:1080px;
    margin: 0 auto;
    position: relative;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}

#header{
    line-height: 71px;
    font-size:16p;
    font-weight: 700;
    text-decoration: none;
}

#head_image img{
    height: 32px;
    width: 162px;
}

.blue_button{
    background-color: #00AFF5;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
    color: #fff;
    padding: 10px 15px;
    height: 36px;
    display: inline-block;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 -2px rgba(5,71,82,0.2);
}

.blue_button:hover{
    cursor: pointer;
}

#road_img{
    height:auto;
    width: auto;
    margin-top:25px;
    margin-bottom: 25px;
}

#wallet_img{
    height:auto;
    width: auto;
    margin-top:25px;
    margin-bottom: 25px;
}

.blablaInput{
    -webkit-appearance: none;
    border:0;
    border-radius: 16px;
    background-color: #EDEDED;
    color: #054752;
    flex: 1;
    padding: 16px 0px 16px 16px;
    margin-right: 48px;
    width:100%
}

.grey_line{
    border-bottom: 2px solid #EDEDED;
    margin: 20px 0px 20px 0px;
}

.ticketNumber{
    background-color: #fff;
    color: #00AFF5;
    text-decoration: none;
    text-align: center;
    height: 26px;
    width:45px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgb(190, 190, 190);
    margin-left:25px;
    margin-top:5px;
    outline: none;
}

.ticketNumber:hover{
    cursor:pointer;
    color: #fff;
    background-color: #00AFF5;
}

.ticketNumber:focus {outline:0;}

.ticketNumberSelected{
    color: #fff;
    background-color: #00AFF5;
}

#lessPriceButton{
    background: url("../img/minus.png") no-repeat;
    cursor: pointer;
    border:none;
    width:30px;
    height:30px;
}


#morePriceButton{
    background: url("../img/plus.png") no-repeat;
    cursor: pointer;
    border:none;
    width:30px;
    height:30px;
}

#price_needed #lessPriceButton{
    background: url("../img/minus.png") no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
    border:none;
    width:15px;
    height:15px;
}

#price_needed #morePriceButton{
    background: url("../img/plus.png") no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
    border:none;
    width:15px;
    height:15px;
}

/* les Annonces */

.annonce{
    border: 1px solid #DDD;
    border-radius: 16px;
    list-style-type: none;
    display: block;
    padding: 16px;
    margin-bottom:20px;
}

.userImage{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit:cover;
}

.contenuAnnonce{
    display: flex;
    margin-bottom: 16px;
}

.contenuAnnonce ul{
    flex: 1;
    list-style: none;
    padding:0;
    margin:0;
}

.prixAnnonce{
    color: #5DD167;
}

.contenuAnnonce li{
    position: relative;
    list-style-type: none;
}

.infosDepart,.infosArrive{
    display: flex;
    padding: 8px 0;
    width: 100%;
}

.heureDepart,.heureArrive{
    min-width:64px;
    color: #054752;
    font-size: 18px;
    line-height: 20px;
}

.lieuDepart,.lieuArrive{
    flex:1;
    padding-left:16px;
}

.villeDepart,.villeArrive{
    color: #054752;
    font-size: 18px;
    line-height: 20px;
}

.lieuDepart::before{
    height:calc(100% - calc(6px + 8px));
    top: calc(6px + 8px);
    background-color: #054752;
    left:64px;
    content: ' ';
    display: block;
    width: 4px;
    position: absolute;
    z-index:1;
}

.lieuArrive::before{
    height:calc(6px + 8px);
    top:0;
    background-color: #054752;
    left:64px;
    content: ' ';
    display: block;
    width: 4px;
    position: absolute;
    z-index:1;
}

.proximiteDepart::before{
    height:calc(100% - calc(6px + 8px));
    top: calc(6px + 8px);
    background-color: #054752;
    left:64px;
    content: ' ';
    display: block;
    width: 4px;
    position: absolute;
    z-index:1;
}

.proximiteArrive::before{
    height:calc(6px + 8px);
    top:0;
    background-color: #054752;
    left:64px;
    content: ' ';
    display: block;
    width: 4px;
    position: absolute;
    z-index:1;
}

.infosDepart::after{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #054752;
    border-radius: 50%;
    top: calc(4px + 8px);
    left: calc(64px - 2px);
    content: ' ';
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 1;
}

.infosArrive::after{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #054752;
    border-radius: 50%;
    top: calc(4px + 8px);
    left: calc(64px - 2px);
    content: ' ';
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 1;
}

.iconeProximite{
    margin-top:4px;
}

.carImage{
    height:50px;
    width:50px;
    float:right;
}

.imageBadge{
    height:40px;
    width:40px;
    float:right;
    margin:5px;
}

.mapContainer{
    background: url("../img/map.png") no-repeat;
    background-size: 100%;
    height: 500px;
    width: 100%;
}

.jeanAymare{
    background: url("../img/mapBuy.png") no-repeat;
    background-size: 100%;
    height: 500px;
    width: 100%;
}